body {
    background-color: #ece48e;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px
}
h1 {
    color: #926a6a;
    text-align: center;
}
p {
    border-radius: 10px;
    background-color: #de8c44;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #534e4e;
}
img {
    margin: 10px;
}
figure {
    margin: 10px;
    background-color: #f0f0f0;
    border: 2px solid #e37b12;
    width: fit-content;
    padding: 10px;
    text-align: center;
}